/**************************************
 * Section 1 - Presentation
 **************************************/
.first-section {
    background: linear-gradient(90deg, var(--secondary-color) 50%, var(--main-color) 50%);
    width: 100%;
    padding-top: 10px;
    height: 100vh;
    max-height: 1080px;
}

.first-section .logo {
    color: var(--main-color);
    width: 60px;
}

.first-section .main-lead {
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

.first-section .main-lead p {
    font-family: 'Roboto';
    font-weight: 100;
}

.first-section a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: var(--secondary-color);
    mix-blend-mode: difference;
    transition: color 0.3s ease-in-out;
    /*text-transform: uppercase;*/
}

.first-section a:hover {
    color: gray;
}

.first-section li {
    margin-left: 20px;
    margin-right: 20px;
}

/**************************************
 * Section 2 - Projects
 **************************************/

.second-section {
    background-color: var(--secondary-color);
    color: var(--main-color);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.second-section p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.second-section .grid-projects {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    color: var(--secondary-color);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.second-section .projects-item:first-of-type {
    grid-row: 1 / 3;
}

.second-section picture {
    height: 100%;
} 

.second-section .projects-item {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    -webkit-filter: grayscale(90%);

            filter: grayscale(90%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.second-section .projects-item a {
    color: inherit;
    text-decoration: none;
}

.second-section .projects-item:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

.second-section .project-title {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.second-section .project-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.second-section .main-button {
    max-width: 900px;
}

/**************************************
 * Section 3 - Skills
 **************************************/
.third-section-expanded {
    background-color: var(--main-color);
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
}

.third-section-expanded h2, .third-section-expanded p {
    margin-bottom: 35px;
    text-align: center;
    color: var(--secondary-color);
}

.third-section-expanded img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: -10px;
}
.third-section-expanded .container{
    max-width: 800px;
}

.third-section-expanded .grid-skills {
    display: flex;
    flex-wrap: wrap;
}

.third-section-expanded .skills-item {
    color: var(--secondary-color);
    flex:  0 0 50%;
    max-width: 50%;
}

@media (max-width: 768px) {
    .third-section-expanded .skills-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.third-section-expanded .skills-item h3 {
    display: inline-block;
    margin-left: 10px;
}

.third-section-expanded .skills-item p {
    margin-left: 75px;
    text-align: left;
}

.third-section-expanded[data-scroll] {
    transition: all 0.5s ease;
    transform-origin: top;
}

.third-section-expanded[data-scroll="in"] {
    opacity: 1;
    transform: scaleY(1);
}

.third-section-expanded[data-scroll="out"] {
    opacity: 0;
    transform: scaleY(0.1) ; 
}


/**************************************
 * Section 4 - Testimonials
 **************************************/
.fourth-section{
    background-color: var(--secondary-color);
    color: var(--main-color);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.box{
    margin: 50px auto 10px auto;

    max-width: 550px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-top: 1px solid rgba(0,0,0,0.15);
    border-radius: 10px;

    padding: 40px 20px 40px 20px;
}

.box img {
    border-radius: 50%;
    border: 2px solid rgb(189, 189, 189);
}

.fourth-section img{
    max-width: 100px;
    margin-bottom: 30px;
}

.fourth-section p {
    font-style: italic;
}

.fourth-section .rec-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18pt;
}

.fourth-section .rec-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

.fourth-section span{
    display:block;
}

.fourth-section ol.carousel-indicators {
    position: relative;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .fourth-section ol.carousel-indicators li,
 .fourth-section ol.carousel-indicators li.active {
    width: 1rem;
    height: 1rem;
    margin: 0;
    border-radius: 50%;
    border: 0;
    background: transparent;
 }
 
 .fourth-section ol.carousel-indicators li {
    background: rgb(141, 141, 141);
    margin-left: .3rem;
    margin-right: .3rem;
 }
 
 .fourth-section ol.carousel-indicators li.active {
    background: var(--main-color);
    margin-left: .3rem;
    margin-right: .3rem;
 }
 
/**************************************
 * Section 5 - Contact
 **************************************/
.fifth-section{
    background-color: var(--main-color);
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--secondary-color);
    overflow: hidden;
}

.fifth-section .logo {
    color: var(--secondary-color);
    width: 60px;
}

.fifth-section ul {
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
    list-style-type: none;
    text-align: right;
    font-weight: 600;
    line-height: 20pt;
}

.fifth-section a {
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    font-size: 14pt;
    line-height: 48px;
}

.fifth-section a:hover {
    color: gray;
}

.fifth-section i {
    margin-right: 5px;
}

.fifth-section h3{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18pt;
}

@media (max-width: 576px) {
    .fifth-section ul {
        text-align: left;
        padding-left: 0px;
    }
}