@font-face {
    font-family: "High Tower Text"; 
    font-display: swap;
    src: url("../fonts/high-tower-text-webfont.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.svg#High Tower Text") format("svg");
}

@font-face {
    font-family: "Impact";
    font-display: swap;
    src: local("Impact"),
    url("../fonts/impact-webfont.woff") format ("woff");
}

body {
    background-color: #000;
    color:#fff;
    transition: background-color 1s ease;
}

.centering {
    margin-left:auto;
    margin-right:auto;
}

.color-black {
    background-color: #000;
    color: #fff;
}
.color-white {
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 700px;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 34pt;
    font-family: 'High Tower Text';
    margin-top: 20px;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 20pt;
}

.header h3, .description-modules h2 {
    font-family: 'Raleway', sans-serif;
}

.header a {
    font-family: 'Impact';
    font-size: 24pt;
    color: #fff;
    transition: all 0.3s ease;
    text-align: center;
}

.header .apostila-wrapper {
    background-image: url("../img/yellow-stroke.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 320px;
    height: 60px;
    padding-top:5px;
    text-align:center;
}

.header a:hover {
    text-decoration: none;
    color: #000;
}

.video-area {
    margin-top:30px;
}

.video-area a {
    font-size: 12pt;
    color: #fff;
    background-color: rgb(255, 34, 34);
    transition: all 0.3s ease;
    padding: 2.5px 5px 5px 5px;
    border-radius: 5px;
}

.video-area a:hover {
    color: rgb(236, 236, 236);
    text-decoration: none;
}

.video-selector {
    cursor:pointer;
    color: #58007e;
    text-align: center;
}

.video-selector .fa-play-circle {
    margin-top: 15px;
}

.video-selector .vs-indicator {
    font-size: 16pt;
    font-weight: 600;
    margin-top: 5px;
}

.description {
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 16pt;
}

.description-modules h2 {
    text-align: center;
}

.offer {
    text-align: center;
}

.description-pieces {
    font-family: 'Source Sans Pro', serif;
}

.description-pieces p {
    font-size: 14pt;
}

.offer p {
    font-family: 'Source Sans Pro', serif;
    font-size: 18pt;
}

.offer small {
    font-size: 12pt;
}

.offer .larger {
    font-size: 24pt;
}

.offer a {
    font-size: 14pt;
    color: #fff;
    background-color: rgb(255, 34, 34);
    transition: all 0.3s ease;
    padding: 2.5px 5px 5px 5px;
    border-radius: 5px;
}

.offer a:hover {
    color: rgb(236, 236, 236);
    text-decoration: none;
}

.offer .brush-g-bg {
    background-image: url("../img/green-brush.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height:50px;
    font-weight: 700;
}

.btn-primary {
    color:white;
    background-color: #1dce13;
    border-color: #1dce13;
    border-bottom-color: #12800c;
    border-bottom-width: 3px;
    border-radius: 15px;
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16pt;
    transition-property: all;
    transition-duration: 0.2s;
}

.btn-primary:hover {
    color: white;
    background-color:#29e71f;
    border-color:#1dce13;
    border-bottom-color: #1dce13;
    border-bottom-width: 3px;
    transform:scale(1.05);
}

.btn-primary:focus,
.btn-primary.focus {
    /*box-shadow: 0 0 0 .2rem rgba(235, 43, 69, 0.5)*/
    box-shadow: 0 0 0 0;
}

.btn-primary.disabled,
.btn-primary:disabled {
    /*color: #212529;*/
    color: white;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: white;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    /*box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)*/
    box-shadow: 0 0 0 0;
}

header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url("../img/stars.png") repeat top center;
  z-index:-3;
  opacity: 0.4;
}

.twinkling{
  background:transparent url("../img/twinkling.png") repeat top center;
  z-index:-2;
  opacity: 0.7;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@media (max-width: 579px) {
    .header h1 {
        font-size: 29pt;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 24pt;
    }
}

@media (max-width: 375px) {
    .header h1 {
        font-size: 22pt;
    }
}

@media (max-width: 320px) {
    .header h1 {
        font-size: 18pt;
    }
}