:root {
    font-size: 18px;
    --black: #131313;
    --hover-grey: #6F6F6F;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 40px 0px;
}

h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

hr {
    margin: 30px 0;
    height: 1px;
    background: repeating-linear-gradient(to right,#000 0,#000 10px,transparent 10px,transparent 20px);
                /* 10 px black then 10px transparent -> repeat this!*/
    color: #fff;
    opacity: .8;
}


.theme-btn {
    color: var(--black);
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
    border-radius: 7px;

    padding: 8px 32px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.theme-btn:focus,
.theme-btn.focus {
    outline: none;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
}

.theme-btn.disabled,
.theme-btn:disabled {
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
}

.theme-btn:not(:disabled):not(.disabled):active,
.theme-btn:not(:disabled):not(.disabled).active,
.show>.theme-btn.dropdown-toggle {
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
}

.theme-btn:not(:disabled):not(.disabled):active:focus,
.theme-btn:not(:disabled):not(.disabled).active:focus,
.show>.theme-btn.dropdown-toggle:focus {
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
}

.main-btn {
    background-color: #F5C8BF;
}

.main-btn:hover {
    background-color: #CDA39A;
}

.highlight-btn {
    background-color: #F6BD60;
}

.highlight-btn:hover {
    background-color: #C1954D;
}

.grey-btn {
    background-color: #C4C4C4;
}

.grey-btn:hover {
    background-color: #9E9E9E;
}

/**
 * Navbar
 */

.main-navbar {
    background-color: var(--black);
    padding: 15px 0px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.main-navbar .navbar-nav .nav-link {
    color: #fff;
    padding: 10px 20px;
}

.main-navbar .navbar-nav .nav-link:focus, .main-navbar .navbar-nav .nav-link:hover {
    color: #ccc;
}

.main-navbar .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}


/**
 * Home banner
 */

.home-banner {
    position: relative;
    overflow: hidden;
    color: #fff;
}

.home-banner-content {
    padding: 130px 80px;
}

.home-banner .home-banner-bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.home-banner-bg img, .home-banner-bg video {
    width: 100%;
    height: 100%;
    filter: brightness(.5);
    object-fit: cover;
}

.home-banner .lead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

main {
    padding: 30px 0px;
}

/**
 * Home
 */

.home-about-img {
    border-radius: 7px;
    max-height: 260px;
}

.home-products {
    overflow: hidden;
}

.home-products .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;

    padding: 15px 30px;

    background-color: #DADADA;
    border-radius: 0;
    border: 2px solid #6c757d;
    border-bottom: 0px;
}

.home-products .nav-link:first-of-type {
    border-radius: 7px 0px 0px 0px;
}

.home-products .nav-link:last-of-type {
    border-radius: 0px 0px 0px 7px;
    border-bottom: 2px solid #6c757d;
}

.home-products .nav-link.active {
    background-color: #3C3C3C;
    position: relative;
}

.home-products .nav-link.active::after {
    content: '';
    position: absolute;
    right: 0;
    margin-right: -10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    border-color: #6c757d;
    border-style: solid;
    border-width: 0px 0px 2px 2px;
}

.home-products .tab-content {
    flex: 1 ;
    padding: 15px;
    border-color: #6c757d;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-radius: 0px 7px 7px 0px;
}

.home-products .nav-pills {
    background-color: #3C3C3C;
    border-radius: 7px 0px 0px 7px;
}

.home-products .tab-content .image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-products .tab-content .image > img {
    width: 100%;
    max-width: 250px;
    object-fit: cover;
    border-radius: 7px;
    border: 2px solid #ccd0d3;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
}

.home-products .tags {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-products .tags .tag-item {
    margin: 0 5px;
    padding: 10px;
    border-radius: 7px;

    background-color: #C4C4C4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.6rem;
    text-align: center;
    color: var(--black);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.09);
}

.home-products .tags .tag-item i {
    display: block;
    font-size: x-large;
}

@media screen and (max-width: 768px) {
    .home-products .tab-content {
        flex: unset;
        width: 100%;
        border-width: 2px 2px 2px 2px;
        border-radius: 0px 0px 7px 7px;
    }

    .home-products .nav-pills {
        width: 100%;
    }
    
    .home-products .nav-link:first-of-type {
        border-radius: 7px 7px 0px 0px;
    }
    
    .home-products .nav-link:last-of-type {
        border-radius: 0px;
        border-bottom: 0px;
    }

    .home-products .nav-link.active::after {
        content: unset;
    }
}

/**
 * Footer 
 */

.main-footer {
    padding: 30px 0px 0px;
    background-color: var(--black);
    color: #fff;
    bottom: 0;
}

.main-footer .bottom {
    background-image: url('../img/bottom_bg.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: 100px;
    opacity: .7;
    margin-top: 30px;
    padding: 10px 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

.main-footer h3 {
    margin-bottom: 30px;
}

.main-footer .footer-link {
    color: inherit;
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.main-footer p, .main-footer address {
    margin-left: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.main-footer i {
    position: absolute;
    margin-top: 3px;
}

.main-footer .footer-link:hover {
    color: var(--hover-grey);
}

.main-footer small {
    font-weight: 100;
    display: block;
}

/**
 * Breadcrumb
 */

.breadcrumb ol {
    list-style: none;
    padding-left: 0;
    border: 1px solid #BCBCBC;
    background-color: #F6F6F6;
    border-radius: 7px;
    overflow: hidden;

    font-size: 0.8rem;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    background-color: #F6F6F6;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #9E9E9E;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.breadcrumb li::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    margin-right: -13px;
    width: 30px;
    height: 30px;
    z-index: 1;
    background-color: #F6F6F6;
    border: 1px solid #BCBCBC;
    border-width: 1px 1px 0px 0px;
    transform: rotate(45deg);
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.breadcrumb li:hover {
    background-color: #BCBCBC;
    color: #fff;
}

.breadcrumb li:hover::after {
    background-color: #BCBCBC;
    color: #fff;
}

.breadcrumb li:last-of-type::after {
    content: unset;
}

.breadcrumb li:last-of-type {
    background-color: #fff;
    color: var(--black);
    padding-right: 10px;
}

.breadcrumb li > a, .breadcrumb li > span {
    display: block;
    position: relative;
    z-index: 2;
    color: inherit;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px 10px;
}

.breadcrumb li:first-of-type > a, .breadcrumb li:first-of-type > span {
    margin-left: 5px;
}

.breadcrumb .mobile-tip {
    display: none;
}

@media (max-width: 768px) {
    .breadcrumb li {
        display: none;
    }

    .breadcrumb .mobile-tip, .breadcrumb li:first-of-type, .breadcrumb li:last-of-type {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .breadcrumb .mobile-tip {
        display: none;
    }
}

/**
 * Product page
 */

.post-content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

/**
 * Produt scale selector
 */

.scale-selector {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.scale-selector li {
    flex: 1;
    display: inline-block;
    border: 1px solid #BCBCBC;
    border-radius: 0px;
    border-right: 0;
    text-align: center;
    
    padding: 4px 0px;
    cursor: pointer;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.scale-selector li:first-of-type {
    border-radius: 7px 0px 0px 7px;
}

.scale-selector li:last-of-type {
    border-radius: 0px 7px 7px 0px; 
    border-right: 1px solid #BCBCBC;
}

.scale-selector li.active {
    background-color: var(--black);
    color: #fff;
}

.scale-selector li:hover {
    background-color: var(--black);
    color: #ccc;
}

/**
 * Product details
 */
.post-descr ul:not(.scale-selector) {
    columns: 2;
}

/**
 * Product image
 */

.post-image figure {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
}

#image_show {
    content: '';    
    width: 100%;
    padding-top: 100%;
    position: relative;

    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100%;
    background-color: #000;
    transition: background-size .25s ease-in-out;
}

/**
 * Product ruler
 */
.ruler {
    display: flex;
    justify-content: center;
}

.horizontal-ruler {
    width: 100%;
    height: 20px;
    margin: 0.5rem 0;
}

.horizontal-ruler .ruler-cell {
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    background-repeat: no-repeat;
    background-size:
        100% 1px,
        1px 8px,
        1px 8px,
        1px 8px,
        1px 8px;
    background-position:
        0% center,
        20% center,
        40% center,
        60% center,
        80% center;
    background-image:
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080);
}

.horizontal-ruler .ruler-cell span {
    position: absolute;
    bottom: -20px;
    font-size: 0.8rem;
    text-align: center;
}

.horizontal-ruler .ruler-cell .hr-init {
    left: 0;
    transform:translateX(-50%);
}

.horizontal-ruler .ruler-cell .hr-val {
    right: 0;
    transform:translateX(50%);
}

.hr-block {
    width: 20px;
    margin: 0 0.5rem 0 1.2rem;
}

.vertical-ruler {
    width: 20px;
    height: auto;
    margin: 0 0.5rem 0 1.2rem;
    flex-direction: column;
}

.vertical-ruler .ruler-cell {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    background-repeat: no-repeat;
    background-size:
        1px 100%,
        8px 1px,
        8px 1px,
        8px 1px,
        8px 1px;
    background-position:
        center 0%,
        center 20%,
        center 40%,
        center 60%,
        center 80%;
    background-image:
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080),
        linear-gradient(#808080, #808080);
}

.vertical-ruler .ruler-cell span {
    position: absolute;
    left: -20px;
    font-size: 0.8rem;
    text-align: center;
}

.vertical-ruler .ruler-cell .hr-init {
    top: 0;
    transform:translateY(-50%);
}

.vertical-ruler .ruler-cell .hr-val {
    bottom: 0;
    transform:translateY(50%);
}

/**
 * Listing filters
 */

.post-list-filter {
    margin-top: 50px;
}

.post-list-filter .filter-block {
    margin-bottom: 30px;
}

.post-list-filter h4 {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: #9E9E9E;
}

.post-list-filter .form-check {
    position: relative;
    cursor: pointer;
}

.post-list-filter label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    display: block;
}

.post-list-filter .number-items {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #9E9E9E;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

/* changes all the theme checkboxes to fit */
.form-check-input:focus {
    box-shadow: none;
    border-color: #F6BD60;
}

.form-check .form-check-input:not(:checked):hover {
    background-color: #DFDFDF;
}

.form-check-input:checked {
    background-color: #F6BD60;
    border-color: #F6BD60;
}

.form-check-input, .form-check-label {
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

/**
 * Filter mobile toggle
 */


@media (max-width: 768px) {
    .post-list-filter {
        margin-top: 0px;
    }

    .filter-btn {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }   
}

@media (min-width: 768px) {
    .filter-btn {
        display: none;
    }
    
    #filter-wrapper {
        display: block!important;
    }
}


/** 
 * Listing items
 */

.post-list-item {
    background-color: #000;
    border-radius: 7px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;

    display: block;
    position: relative;
    transition: color .25s ease-in-out;
}

.post-list-item img {
    border-radius: 7px;
}

.post-list-item span {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.post-list-item:hover {
    color: #9E9E9E;
    text-decoration: none;
}

/**
 * Pagination
 */

.post-list-pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.post-list-pagination .pag-item {
    margin: 0px 5px;
}

.post-list-pagination .pag-item a {
    display: block;
    width: 30px;
    height: 30px;
    padding: 3px 0px;
    border-radius: 50%;
    background-color: #9E9E9E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.post-list-pagination .pag-item.active a {
    background-color: var(--black);
}

.post-list-pagination .pag-item.next a {
    background-color: #fff;
    color: var(--black);
    padding-left: 2px;
}

.post-list-pagination .pag-item a:hover {
    background-color: var(--black);
}

.post-list-pagination .pag-item.next a:hover {
    color: #fff;
}