@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

a:active {
    color: #d8d8d8;
}

.top-bar {
    background: linear-gradient(90deg, #4596D0 0%, #3E86BA 100%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    padding: 2px 0px 2px 0px;
}

.top-bar .top-bar-item {
    padding: 12px 0px 12px 0px!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    margin-right: 20px;
    display: block;
}

.top-bar .top-bar-item img {
    margin-right: 10px;
}

.top-bar .right-slash {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

@media (max-width: 992px) {
    .top-bar .top-bar-item {
        display: none;
    }
}

.home-header {
    background-color: #FBFBFB;
    padding: 20px 0px 0px 0px;
}

.home-header .search-form {
    max-width: 300px;
}

.home-header .search-form input[type="text"] {
    border-right: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.home-header .search-form input[type="text"]::placeholder {
    color: #272727;
}

.home-header .search-form .search-button {
    background-color: #fff;
    border-left: none;
}

.home-header .search-form .search-button img {
    max-width: 14px;
    max-height: 14px;
}

.home-header .navbar {
    padding: unset;
    margin-bottom: 20px;
}

.home-header #navbar-items {
    background: #F9F9F9;
    margin-top: 20px;
}

.home-header .bg-fw {
    height: 44px;
    width: 100%;
    background: #F9F9F9;
    position: absolute;
    bottom: 0;
    display: block;
}

@media (max-width: 1200px) {
    .home-header .bg-fw {
        height: 59px;
    }
}

.home-header #navbar-items ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.home-header #navbar-items .dropdown-item {
    font-size: 12px;
}

.home-header #navbar-items li {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #272727;
    text-align: center;
}

.home-header #navbar-items .dropdown-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #272727;
}

.home-header #navbar-items .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    transition: color 0.5s ease;
}

.home-header #navbar-items .nav-link:hover {
    color: #3E86BA;
}


.home-header .announcement {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/announcement-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header .announcement h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #FFE7A1;
}

.home-header .announcement p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 48px;
}

.home-header .announcement .img-detail {
    position: absolute;
    background-image: url("../img/grid.png");
    background-repeat: repeat-x;
    width: 144px;
    height: 135px;
    margin-top: -75px;
    left: 0;
}

.home-header .btn-group {
    display: block;
}

.home-header .dropdown-toggle::after {
    border: none;
    background-image: url("../img/expand_black_24px.svg");
    background-size: contain;
    width: 10px;
    height: 44px;
    background-repeat: no-repeat;
    background-position-y: center;
    position: absolute;
    top: 0;
    margin-left: 10px;
}

@media (max-width: 992px) {
    .home-header .announcement {
        padding-top: 24px;
        padding-bottom: 24px;
        background-position-x: 55%;
    }

    .home-header .announcement .img-detail {
        display: none;
    }

    .home-header #navbar-items li {
        text-align: left;
    }

    .home-header .btn-group .dropdown-menu {
        background-color: transparent;
        border: none;
    }

    .home-header .btn-group .dropdown-menu .dropdown-item {
        margin-bottom: 20px;
    }
}


.btn-custom {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #fff;

    padding: 8px 15px 8px 15px;
    border: 1px solid #fff;
    border-radius: 4px;

    background-color: rgb(51, 101, 173);
    transition: background-color color 0.5s ease;
}

.btn-custom:hover {
    background-color: rgb(26, 70, 131);
    color: rgb(240, 236, 236);
}

.btn-custom.disabled,
.btn-custom:disabled {
    background-color: rgb(112, 143, 187);
    color: rgb(168, 168, 168);
}

.btn-custom:not(:disabled):not(.disabled):active:focus,
.btn-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-custom.dropdown-toggle:focus {
    background-color: rgb(10, 52, 110);
    color: rgb(240, 236, 236);
}

.form-control:focus, .btn:focus {
    box-shadow: none;
    border-color: #ced4da;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row wrap;
    }

    .home-header .navbar {
        margin-bottom: 0px;
    }
}

.header {
    background-color: #FBFBFB;
    padding: 20px 0px 20px 0px;
}

.header .search-form {
    max-width: 300px;
}

.header .search-form input[type="text"] {
    border-right: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.header .search-form input[type="text"]::placeholder {
    color: #272727;
}

.header .search-form .search-button {
    background-color: #fff;
    border-left: none;
}

.header .search-form .search-button img {
    max-width: 14px;
    max-height: 14px;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.02em;
    color: #3E86BA;
}

.header-menu {
    background: #0B628F;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    padding: 25px 0px 25px 0px;
    color: #fff;
}

.header-menu .header-menu-item {
    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid #013B59;
}

.header-menu .header-menu-item:last-of-type {
    border-right: none;
}

.header-menu img {
    height: auto;
    width: 100%;
    max-width: 60px;
}

.header-menu .title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px!important;
}

.header-menu p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0px;
}

@media (max-width: 992px) {
    .header h1 {
        display: none;
    }

    .header .search-form {
        display: none;
    }
    
    .header-menu .header-menu-item {
        border-right: 0px;
    }

    .header-menu .header-menu-item:first-of-type {
        border-bottom: 1px solid #013B59;
    }

    .header-menu .header-menu-item:last-of-type {
        border-top: 1px solid #013B59;
    }
}

main {
    padding: 20px 0px 60px 0px;
}

main h2 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #3E86BA;
    margin-bottom: 15px;
    letter-spacing: -0.02em;
}

main h3 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #152C27;
}

main .side-unidades {
    background: linear-gradient(90deg, #50A4F2 0%, #277ECF 100%);
    border: 1px solid #D5E6F3;
    box-sizing: border-box;
    border-radius: 4px;
    
    padding: 13px 20px 13px 20px;
}

main .brasil-img {
    position: absolute;
    right: 0;
    left: auto;
    background-image: url("../img/brasil-dots.png");
    background-repeat: no-repeat;
    width: 157px;
    height: 158px;
}

main .side-unidades > h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    display: block;
}

main .side-unidades > h3 > span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;

    color: #FFD88B;
    display: block;
}

main .btn-group {
    width: 100%;
}

main .dropdown-toggle {
    background: #FFFFFF;
    border: 1px solid #AED6FB;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #999999;
    width: 100%;
    text-align: left;
    padding-right: 2.75rem;
}

main .dropdown-toggle::after {
    border: none;
    background-image: url("../img/expand_more_24px.svg");
    background-size: 100%;
    width: 15px;
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    position: absolute;
    margin-top: -0.375rem;
    right: 0.75rem;
}

main .side-unidades .dropdown-toggle:hover, main .dropdown-toggle:active {
    background-color: rgb(236, 236, 236);
    color: #272727;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    border-radius: 4px;
}

main .side-unidades .dropdown-item {
    font-size: 12px;
}

main .side-unidades .dropdown-menu {
    width: 100%;
}

main .side-boletim {
    margin-top: 20px;
    background: #082B53;
    border: 1px solid #D5E6F3;
    border-radius: 4px;
    
    padding: 20px 0px 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

main .side-boletim > h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FED233;
    margin-bottom: 5px;
}

main .side-boletim > h3 > span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;

    margin-top: 5px;
    color: #FED233;
    display: block;
}

main .side-boletim > .data-boletim {
    background: #FED233;
    border-radius: 0px 0px 0px 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #082B53;
    max-height: 49px;
    padding: 0px 10px 0px 10px;
}

main .side-selos {
    margin-top: 20px;
    
    background: rgba(248, 248, 248, 0.8);
    border: 1px solid rgba(11, 98, 143, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    
    padding: 15px 20px 15px 20px;
    text-align: center;
}

main .side-selos > h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #152C27;
}

main .side-selos > .carousel {
    margin-top: 20px;
    margin-bottom: 5px;
}

main .side-selos > h3 > span {
    font-weight: 600;
}

main .side-selos .carousel-item > img {
    height: 78px;
    width: auto;
}

main .grid-card {
    background: rgba(248, 248, 248, 0.8);
    border: 1px solid rgba(11, 98, 143, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 20px 15px 20px;
    height: 100%;
}

main .grid-posts {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

main .grid-posts > a:hover {
    text-decoration: none;
}

main .grid-posts > a > .post-item {
    display: grid;
    grid-template-columns: 100px auto;
    max-width: 450px;
    grid-gap: 10px;
    height: 100%;
}

main .grid-posts > a > .post-item > img {
    /*height: 100%;
    width: auto;
    max-height: 90px;*/
    width: 100px;
    height: 90px;
    border-radius: 4px;
}

main .grid-posts > a:first-of-type  {
    grid-row: 1 / 5;
    width: 100%;
    max-width: 400px;
    display: block;
}

main .grid-posts > a:first-of-type > .post-item {
    display: block;
}

main .grid-posts > a:first-of-type > .post-item > img {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    max-height: unset;
}

main .grid-posts > a > .post-item .post-datetime-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #999999;
}

main .grid-posts > a > .post-item  h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #444444;
    transition: color 0.5s ease;
}

main .grid-posts > a:hover > .post-item  h4 {
    color: #3E86BA;
}

main .grid-posts > a:first-of-type > .post-item h4 {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #444444;
}

main .grid-posts > a:first-of-type:hover > .post-item h4 {
    color: #3E86BA;
}

main .grid-posts > a > .post-item  p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #444444;
}


@media (max-width: 1200px) {
    main .grid-posts {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    main .grid-posts > a > .post-item {
        max-width: 100%;
    }

    main .grid-posts > a:first-of-type {
        max-width: 100%;
    }

}

main .badge-custom {
    background: #1E94D2;
    border-radius: 2px;
    padding: 10px 10px;
    color: #fff;
    font-size: 11px;
    display: inline-block;
    margin-right: 10px;
}

main .home-statiscs {
    background: #F8F8F8;
    border: 1px solid #C9DAE3;
    box-sizing: border-box;
    border-radius: 4px;

    padding: 20px 40px 20px 40px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 25px;
}

main .home-statiscs > .statistics-item {
    margin: 15px 15px 15px 15px;
}

main .home-statiscs > .statistics-item > .title {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #272727;
    display: block;
}

main .home-statiscs > .statistics-item > .number {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #0B628F;
    display: block;
}


main .grid-card ul {
    margin-bottom: 0px;
}

main .grid-card-title {
    background: rgba(201, 218, 227, 0.1);
    border-radius: 4px 4px 0px 0px;
    margin: -15px -20px 10px -20px;
    padding: 10px 20px 10px 20px;
}

main .grid-card-title h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #093851;
    margin-bottom: 0px;
}

main .grid-card-body ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #272727;
    padding-left: 0px;
}

main .grid-card-body ul li::before {
    /*content: "\2022";
    color: #FED233;*/
    content: "";
    background: #FED233;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-bottom: 4px;
    margin-left: -15px;
    margin-right: 15px;
}

main .grid-card-body li a:active {
    color: #777;
}

main .grid-highlight {
    background: #0B628F;
    border: 1px solid rgba(11, 98, 143, 0.2);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    padding: 15px 30px 15px 30px;
    transition: background 0.5s ease;
}

main .grid-highlight:hover {
    background: #1177AB;
}

main .grid-highlight h4 {
    margin-bottom: 0px;
    font-size: 18px;
}

main .grid-highlight-link:hover{
    text-decoration: none;
}

.sidebar {
    margin-top: 30px;
}

.breadcrumb {
    background-color: #fff;
    padding-left: 0px;
    font-size: 11px;
}

.breadcrumb a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #999999;
}

.breadcrumb .breadcrumb-item::before {
    content: "\2022";
    color: #4596D0;
}

.breadcrumb .breadcrumb-item:first-of-type::before {
    content: "";
}

.breadcrumb .breadcrumb-item.active {
    font-weight: bold!important;
}


footer {
    padding-top: 25px;
    background: #1E94D2;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    color: #F5FBFA;
}

footer .footer-logo {
    max-width: 120px;
}

footer a > img:not(img-fluid) {
    margin-left: 10px;
    transition: filter 0.5s ease-in-out;
}

footer a > img:not(img-fluid):hover {
    filter: invert(0.13);
}

footer address {
    max-width: 400px;
    font-size: 14px;
    margin-bottom: 0px;
    color: #F5FBFA;
}

footer address span {
    font-size: 14px;
    display: block;
    font-weight: 700;
}

.subfooter {
    padding: 25px 0px 25px 0px;
    margin-top: 25px;
    background-color: #fff;
}

.subfooter {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #272727;
}

.subfooter p {
    margin-bottom: 0px;
}

.subfooter a:hover {
    text-decoration: none;
}

main .highlight-box{
    background: rgba(201, 218, 227, 0.1);
    border-radius: 4px;
    border: 1px solid rgba(11, 98, 143, 0.1);
    padding: 15px 15px 15px 15px;
}

main .highlight-box .btn-group {
    width: unset;
}

main .highlight-box span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #152C27;
}

main .highlight-box .search-form {
    max-width: 400px;
}

@media (max-width: 768px) {
    main .highlight-box .search-form {
        max-width: 100%;
    }
}

main .highlight-box .search-form:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

main .highlight-box .search-form input[type="text"] {
    border-right: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

main .highlight-box .search-form input[type="text"]::placeholder {
    color: #272727;
}

main .highlight-box .search-form .search-button {
    background-color: #fff;
    border-left: none;
}

main .highlight-box .search-form .search-button img {
    max-width: 14px;
    max-height: 14px;
}

main .dropdown-toggle {
    background-color: #fff;
    color: #272727;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

main .dropdown-toggle:hover, main .dropdown-toggle:active {
    background-color: rgb(236, 236, 236);
    color: #272727;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    border-radius: 4px;
}

main .dropdown-item {
    font-size: 12px;
}

main .table-wrapper {
    overflow-x: auto;
}

main .table-wrapper > .table {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    white-space: nowrap;
    font-size: 14px;
    color: #272727;
}

main .table > thead {
    border: none;
    color: #093851;
    font-weight: 500;
    font-size: 16px;
}

.table > thead > tr:first-child > td {
    border: none;
}

.table > tbody > th {
    font-weight: 600;
}

.blog-post p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.blog-post h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

main .blog-post ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #272727;
    padding-left: 40px;
}

main .blog-post li {
    margin-bottom: 9px;
}

main .blog-post ul li:before {
    content: "\2022";
    color: #1CA3EC;
    content: "";
    background: #1CA3EC;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-bottom: 4px;
    margin-left: -15px;
    margin-right: 10px;
}

.blog-post h3{
    margin-bottom: 10pt;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #272727;
}

.blog-post p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #272727;
}

.blog-post > .anexo{
    background: #F4F4F3;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    transition: background 0.5s ease;
}

.blog-post > .anexo:hover {
    background: #dadada;
}

.blog-post > .anexo a:hover {
    text-decoration: none;
}

.blog-post > .anexo span {
    display: block;
    margin-bottom: 5px;
}

.blog-post > .anexo .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
}

.blog-post > .anexo .subtext{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #787878;
}

.blog-post > .blog-post-featured {
    width:100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 30px;
}

main .custom-accordion .card{
    color: #272727;
    margin-top: 5px;
}

main .custom-accordion .card-header{
    border: 1px solid #DEE8ED;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    color: #272727;
    padding: 0px 0px;
}

main .custom-accordion .btn-accordion {
    color: black;
    border: none;
    background-color: transparent;   
    padding: 20px 20px;
}


main .custom-accordion .btn-accordion:not(.collapsed) {
    font-weight: bold; 
}

main .custom-accordion .plus-img{
    margin-right: 10px;
    display: inline;
}

main .custom-accordion .minus-img {
    margin-right: 10px;
    display: none;
}

main .custom-accordion .card-body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #272727;

    padding-left: 55px;
}