.mt-8 {
    margin-top:80px;
}

.first-block .announcement {
    opacity: 0.9;
    width: 50%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;
}
.no-webp .first-block .announcement {
    background-image: url("../img/first-block-heading.png");
}

.webp .first-block .announcement {
    background-image: url("../img/webp/first-block-heading.webp");
}

.btn-primary {
    color:white;
    background-color: #0abb3c;
    border-color: #0abb3c;
    border-bottom-color: #056821;
    border-bottom-width: 3px;
    border-radius: 25px;
    min-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}

.btn-primary:hover {
    color: white;
    background-color:#0b9933;
    border-color:#0b9933;
    border-bottom-color: #056821;
    border-bottom-width: 3px;
}

.btn-primary:focus,
.btn-primary.focus {
    /*box-shadow: 0 0 0 .2rem rgba(235, 43, 69, 0.5)*/
    box-shadow: 0 0 0 0;
}

.btn-primary.disabled,
.btn-primary:disabled {
    /*color: #212529;*/
    color: white;
    background-color:#ccc;
    border-color: #ccc;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: #0a7c2a;
    border-color: #0abb3c;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    /*box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)*/
    box-shadow: 0 0 0 0;
}

.btn-grupo-vip {
    /*color:white;
    background-color: #c4bb8c;
    border-color: #121212;
    border-width: 3px;
    border-radius: 25px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    text-shadow: 1px 1px 6px #000;*/
    background-image: linear-gradient(to right, #92895e, #c4bb8c);
    border-radius: 15px;
    border-bottom: 3px solid #121212;
    max-width: 300px;

    color: #121212;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;

    padding-top:20px;
    padding-bottom: 20px;

    transition: background-image 1s ease;
    transition: box-shadow 0.8s ease;
    box-shadow: 0px 10px 20px -15px #000;
}

.btn-grupo-vip:hover {
    color: white;
    background-image: linear-gradient(to right, #858068, #ccc39c);
    box-shadow: 0px 10px 30px -05px #000;
}

.btn-grupo-vip:focus,
.btn-grupo-vip.focus {
    /*box-shadow: 0 0 0 .2rem rgba(235, 43, 69, 0.5)*/
    box-shadow: 0px 10px 20px -15px #000;
}

.btn-grupo-vip.disabled,
.btn-grupo-vip:disabled {
    /*color: #212529;*/
    color: white;
    background-color:#ccc;
    border-color: #ccc;
}

.btn-grupo-vip:not(:disabled):not(.disabled):active,
.btn-grupo-vip:not(:disabled):not(.disabled).active,
.show>.btn-grupo-vip.dropdown-toggle {
    color: white;
    background-image: linear-gradient(to right, #44412d, #5f5833);
    border-color: transparent;
}

.btn-grupo-vip:not(:disabled):not(.disabled):active:focus,
.btn-grupo-vip:not(:disabled):not(.disabled).active:focus,
.show>.btn-grupo-vip.dropdown-toggle:focus {
    /*box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)*/
    box-shadow: 0px 10px 20px -15px #000;
}

.btn-grupo-gold {
    /* color:#e0d411;
    background-color: #f0e9cc;
    border-color: #e0d411;
    border-width: 3px;
    border-radius: 25px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    text-shadow: 1px 1px 6px #000; */
    background-image: linear-gradient(to right, #c7be1b, #e0d411);
    border-radius: 15px;
    border-bottom: 3px solid #807a0b;
    max-width: 300px;
    
    color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;

    padding-top:20px;
    padding-bottom: 20px;

    transition: background-image 1s ease;
    transition: box-shadow 0.8s ease;
    box-shadow: 0px 10px 30px -10px #e0d411;
}

.btn-grupo-gold:hover {
    color: #ffffff;
    background-image: linear-gradient(to right, #69671a, #cac115);
    box-shadow: 0px 10px 40px -0px #e6db17;
}

.btn-grupo-gold:focus,
.btn-grupo-gold.focus {
    /*box-shadow: 0 0 0 .2rem rgba(235, 43, 69, 0.5)*/
    box-shadow: 0px 10px 30px -10px #e0d411;
}

.btn-grupo-gold.disabled,
.btn-grupo-gold:disabled {
    /*color: #212529;*/
    color: #e0d411;
    background-color:#ccc;
    border-color: #ccc;
}

.btn-grupo-gold:not(:disabled):not(.disabled):active,
.btn-grupo-gold:not(:disabled):not(.disabled).active,
.show>.btn-grupo-gold.dropdown-toggle {
    color: #e0d411;
    background-image: linear-gradient(to right, #35330d, #7e780e);
    border-color: transparent;
}

.btn-grupo-gold:not(:disabled):not(.disabled):active:focus,
.btn-grupo-gold:not(:disabled):not(.disabled).active:focus,
.show>.btn-grupo-gold.dropdown-toggle:focus {
    /*box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)*/
    box-shadow: 0px 10px 30px -10px #e0d411;
}

.btn-grupo-black {
    /* color:#fd0808;
    background-color: #161616;
    border-color: #fd0808;
    border-width: 3px;
    border-radius: 25px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    text-shadow: 1px 1px 6px #424242; */
    background-image: linear-gradient(to right, #000000, #181818);
    border-radius: 15px;
    border-bottom: 3px solid #3b3b3b;
    max-width: 300px;
    
    color: #e91919;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;

    padding-top:20px;
    padding-bottom: 20px;

    transition: background-image 1s ease;
    transition: box-shadow 0.8s ease;
    box-shadow: 0px 10px 30px -10px #d30303;
}

.btn-grupo-black:hover {
    color: #fd0808;
    background-image: linear-gradient(to right, #1b1b1b, #2c2c2c);
    box-shadow: 0px 10px 40px -0px #d30303;
}

.btn-grupo-black:focus,
.btn-grupo-black.focus {
    /*box-shadow: 0 0 0 .2rem rgba(235, 43, 69, 0.5)*/
    box-shadow: 0px 10px 30px -10px #d30303;
}

.btn-grupo-black.disabled,
.btn-grupo-black:disabled {
    /*color: #212529;*/
    color: #fd0808;
    background-color:#ccc;
    border-color: #ccc;
}

.btn-grupo-black:not(:disabled):not(.disabled):active,
.btn-grupo-black:not(:disabled):not(.disabled).active,
.show>.btn-grupo-black.dropdown-toggle {
    color: white;
    background-image: linear-gradient(to right, #1b1b1b, #2c2c2c);
    border-color:transparent;
    box-shadow: 0px 10px 40px -5px #d30303;
}

.btn-grupo-black:not(:disabled):not(.disabled):active:focus,
.btn-grupo-black:not(:disabled):not(.disabled).active:focus,
.show>.btn-grupo-black.dropdown-toggle:focus {
    /*box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)*/
    box-shadow: 0px 10px 30px -10px #d30303;
}

.second-block {
    background-color: #edeacc;
    color:#1d1d1d;
    padding: 100px 0px 50px 0px;
}

.second-block h1, .third-block h1 {
    color: #9d1313;
    font-family: 'Edo SZ';
    font-size: 35pt;
    max-width: 700px;
    text-align: center;
}

.second-block h2, .third-block h2 {
    font-family: 'Edo SZ'; 
    font-size: 35pt;
}

.second-block .min-separator {
    background-color: #9d1313;
    width: 80px;
    height: 10px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.second-block li {
    font-family: 'Montserrat';
    font-size: 16pt;
    list-style: none;
    margin-bottom: 10px;
    z-index:3;
}

.second-block li::before {
    content:'';
    display: inline-block;
    background-size: 100%;
    background-position-x: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    margin-left:-40px;
    position: absolute;
}

.no-webp .second-block li::before {
    background-image:url("../img/check.png");
}
.webp .second-block li::before {
    background-image:url("../img/webp/check.webp");
}

.second-block lis {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16pt;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    display: block;
    z-index:3;
}

.second-block lis::before {
    content:'';
    display: inline-block;
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    margin-left:-40px;
    position: absolute;
}

.no-webp .second-block lis::before {
    background-image:url("../img/check.png");
}

.webp .second-block lis::before {
    background-image:url("../img/webp/check.webp");
}

.second-block li b {
    font-weight: 900;
}

.second-block .first-ex-block {
    margin-top:100px;
}

.second-block .ex-block {
    background-color: #eab8a8;
    border: 2px solid #9d1313;
    box-shadow: 0px 0px 70px 0px rgba(223,17,18,0.9);
    padding: 30px 30px 30px 30px;
}

.second-block .ex-block h3 {
    font-family: 'Edo SZ';
    color: #9d1313;
    font-size:23pt;
}

.second-block .ex-block p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16pt;
    margin-top:25px;
}

.second-block .ex-block p b {
    font-weight: 900;
}

.second-block .sorteios-subblock {
    margin-top:150px;
}

.second-block .sorteios-subblock h3 {
    font-family: 'Edo SZ';
    font-weight: 600;
    font-size: 20pt;
}

.third-block {
    padding: 100px 0px 50px 0px;
}

.third-block h2 {
    font-family: 'Edo SZ';
    font-weight: 600;
    font-size: 23pt;
}

.table-responsive {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #686868;
    box-shadow: 0px 90px 60px -90px rgba(0,0,0,0.6);
    max-width: none;
}

.table-responsive .tbody-p1 th {
    font-weight: 800;
    color: #000;
}

.table-responsive th, .table-responsive td {
    border: 2px solid #000;
    padding:8px 5px 8px 5px;
}

.table-responsive .thead-p1 {
    font-family: 'Edo SZ';
    font-weight: 400;
    font-size: 16pt;
    color:#000;
}

.table-responsive .aviso {
    border:none;
}

.table-responsive .btxt {
    color:#000;
}

.table-responsive sub {
    font-size: 4.5pt;
}

.table-responsive .spartablack {
    background-color: #000;
    color: #fff;
    border-color:#fff;
}

.inner-normal-table {
    width: 100%;
    color: #404040;
}

.inner-normal-table td {
    border: none;
}

.inner-normal-table .lighter {
    background-color: #f0e9cc;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14pt;
}

.inner-normal-table .darker {
    background-color: #cbbf8f;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 14pt;
}

.inner-normal-table .secdarker {
    background-color: #191919;
    color: #fff;
}

.table-responsive .pricesbox {
    border-top: none; 
    background-color: #dad0a7; 
    color:#404040;
}

.table-responsive .pricesbox sub {
    font-size: 8pt;
}

.third-block .ch2 {
    font-family: 'Edo SZ';
    font-weight: 500;
    font-size: 30pt;
    color: #9d1313;
}

.third-block h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16pt;
    text-align: left;
    color:#121212;
}

.third-block .cards-bank {
    color: #121212;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    margin-top:60px;
    box-shadow: 0px 90px 60px -90px rgba(0,0,0,0.6);
}

.third-block .cards-bank b {
    font-weight: 900;
}

.third-block .col-md-6 {
    padding: 30px 10px 10px 10px;
}

.fourth-block {
    font-family: 'Montserrat';
    height: 1800px;
}    

.fourth-block h1 {
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Edo SZ';
    color:#f9113c;
    font-size: 50pt;
    text-shadow: 2px 2px 20px rgba(206,89,55,1);
    text-align: center;
}

.fourth-block h2 {
    font-weight: 900;
    color: #fff;
    font-size: 18pt;
}

.fourth-block li {
    font-weight: 700;
    font-size: 14pt;
    color:#fff;
    margin-top:20px;  
}

.card {
    border-width: 0pt;
    border-radius: 0px;
}

.card .card-header {
    background-color: #b31818;
    color: #121212;
    text-align: left;
    padding:12px 12px 12px 25px;
    border-bottom: 0px;
    cursor:pointer;
}

.card #first-header .fa-chevron-down {
    float:right;
    display: block;
}

.card #first-header .fa-chevron-right {
    float:right;
    display: none;
}

.card .card-header .fa-chevron-down {
    float:right;
    display: none;
}

.card .card-header .fa-chevron-right {
    float:right;
    display: block;
}

.card .card-header h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14pt;
}

.card .card-body {
    background-color: #f0e9cc;
    color: #121212;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
}

.card {
    background-color: transparent;
}

.sorteios-subblock .apple-watch-icon {
    background-size: 100%;
    width: 60px;
    height: 100px;
    position: absolute;
    margin-top: 170px;
    opacity: 0.8;
}

.no-webp .sorteios-subblock .apple-watch-icon {
    background-image: url("../img/watch-tiny.png");
}

.webp .sorteios-subblock .apple-watch-icon {
    background-image: url("../img/webp/watch-tiny.webp");
}

.sorteios-subblock .iphone-icon {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 90px;
    position: absolute;
    left:65%;
    /* float: right; */
    opacity: 0.8;
}

.no-webp .sorteios-subblock .iphone-icon {
    background-image: url("../img/iphones-tiny.png");
}

.webp .sorteios-subblock .iphone-icon {
    background-image: url("../img/webp/iphones-tiny.webp");
}

.sorteios-subblock .macbook-icon {
    background-size:100%;
    background-repeat: no-repeat;
    width:80px;
    height:80px;
    position: absolute;
    margin-top: -180px;
    opacity: 0.8;
}

.no-webp .sorteios-subblock .macbook-icon {
    background-image: url("../img/macbook-tiny.png");
}

.webp .sorteios-subblock .macbook-icon {
    background-image: url("../img/webp/macbook-tiny.webp");
}

.sorteios-subblock .apple-tv-icon {
    background-size:100%;
    background-repeat: no-repeat;
    width:80px;
    height:83px;
    float:right;
    opacity: 0.8;
}

.no-webp .sorteios-subblock .apple-tv-icon {
    background-image: url("../img/tv-tiny.png");
}

.webp .sorteios-subblock .apple-tv-icon {
    background-image: url("../img/webp/tv-tiny.webp");
}

.rshadow {
    box-shadow: 0px 10px 60px -40px #bbbbbb;
}

@media (max-width: 1023px) {
    .first-block {
        height: 900px;
    }
    .fb-holder {
        height: 900px;
    }

    .first-block .video {
        max-width: 90%;
        height: 200px;
        margin-top:-300px;
        display: inline-block;
    }

    .fourth-block {
        height: 1800px;
    }

    .sorteios-subblock .iphone-icon {
        left: 70%;
    }
}

@media (max-width:767px) {
    .btn-primary {
        font-size: 12pt;
    }

    .first-block {
        height: 950px;
    }

    .fb-holder {
        height: 950px;
    }

    .first-block .announcement {
        width: 150%;
        margin-left:-25%;
        height: 600px;
        position: absolute;
        margin-top:30px;
    }

    .first-block .video {
        max-width: 90%;
        height: 200px;
        margin-top:630px;
        display: inline-block;
    }

    .fourth-block {
        height: 2250px;
    }
    .fourth-block h1 {
        font-size: 30pt;
    }

    .sorteios-subblock .apple-watch-icon {
        margin-left: -20px;
    }
    .sorteios-subblock .apple-tv-icon {
        display:none;
    }
    .sorteios-subblock .iphone-icon {
        display:none;
    }
    .sorteios-subblock .macbook-icon {
        margin-top:180px;
        margin-left:-80px;
    }
}

@media (max-width: 678px) {
    .first-block {
        height: 1000px;
    }

    .fb-holder {
        height: 1000px;
    }

    .first-block .announcement {
        height: 700px;
    }

    .first-block .video {
        margin-top:680px;
    }

    .fourth-block {
        height: 2300px;
    }
}

@media (max-width: 400px) {
    .fourth-block {
        height: 2640px;
    }

    .first-block .video {
        margin-top:610px;
    }
}

@media (width: 411px) {
    .fourth-block {
        height: 2380px;
    }

    .first-block .announcement {
        height: 640px;
    }
    .first-block .video {
        margin-top:670px;
    }
}

@media (max-width: 320px) {
    .fourth-block {
        height: 2930px;
    }
    .first-block .video {
        margin-top:580px;
    }
}